<div>
  <h2 id="page-heading" data-cy="MaterialHeading">
    <span jhiTranslate="infocareApp.material.home.title">Materials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="infocareApp.material.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-material"
        [routerLink]="['/material/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="infocareApp.material.home.createLabel">Créer un nouveau Material</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (materials?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="infocareApp.material.home.notFound">Aucun Material trouvé</span>
    </div>
  }

  @if (materials && materials.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.type">Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="purchaseDate">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.purchaseDate">Purchase Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="warrantyEndDate">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.warrantyEndDate">Warranty End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="manufacturer">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.manufacturer">Manufacturer</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="model">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.model">Model</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statusMaterial">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.statusMaterial">Status Material</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastMaintenanceDate">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.lastMaintenanceDate">Last Maintenance Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="note">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.note">Note</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serialNumber">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.serialNumber">Serial Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="company.id">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.material.company">Company</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (material of materials; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/material', material.id, 'view']">{{ material.id }}</a>
              </td>
              <td>{{ material.name }}</td>
              <td>{{ material.type }}</td>
              <td>{{ material.purchaseDate | formatMediumDate }}</td>
              <td>{{ material.warrantyEndDate | formatMediumDate }}</td>
              <td>{{ material.manufacturer }}</td>
              <td>{{ material.model }}</td>
              <td>{{ material.statusMaterial }}</td>
              <td>{{ material.lastMaintenanceDate | formatMediumDate }}</td>
              <td>{{ material.note }}</td>
              <td>{{ material.serialNumber }}</td>
              <td>
                @if (material.company) {
                  <div>
                    <a [routerLink]="['/company', material.company.id, 'view']">{{ material.company.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/material', material.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(material)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
