<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (procedure) {
      <div>
        <h2 data-cy="procedureDetailsHeading"><span jhiTranslate="infocareApp.procedure.detail.title">Procedure</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ procedure.id }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.name">Name</span></dt>
          <dd>
            <span>{{ procedure.name }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.description">Description</span></dt>
          <dd>
            <span>{{ procedure.description }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.category">Category</span></dt>
          <dd>
            <span>{{ procedure.category }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.procedureId">Procedure Id</span></dt>
          <dd>
            <span>{{ procedure.procedureId }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.stepByStepGuide">Step By Step Guide</span></dt>
          <dd>
            <span>{{ procedure.stepByStepGuide }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.estimatedTime">Estimated Time</span></dt>
          <dd>
            <span>{{ procedure.estimatedTime }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.requiredTools">Required Tools</span></dt>
          <dd>
            <span>{{ procedure.requiredTools }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.skillsRequired">Skills Required</span></dt>
          <dd>
            <span>{{ procedure.skillsRequired }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.safetyInstructions">Safety Instructions</span></dt>
          <dd>
            <span>{{ procedure.safetyInstructions }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.lastReviewed">Last Reviewed</span></dt>
          <dd>
            <span>{{ procedure.lastReviewed | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.reviewedBy">Reviewed By</span></dt>
          <dd>
            <span>{{ procedure.reviewedBy }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.procedure.attachments">Attachments</span></dt>
          <dd>
            <span>{{ procedure.attachments }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/procedure', procedure.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
