<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="infocareApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="infocareApp.category.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="infocareApp.category.home.createLabel">Créer un nouveau Category</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (categories?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="infocareApp.category.home.notFound">Aucun Category trouvé</span>
    </div>
  }

  @if (categories && categories.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.category.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.category.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="icon">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.category.icon">Icon</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (category of categories; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
              </td>
              <td>{{ category.name }}</td>
              <td>{{ category.description }}</td>
              <td>{{ category.icon }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/category', category.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" class="text-success"></fa-icon>
                    <span class="d-none d-md-inline text-success" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" class="text-warning"></fa-icon>
                    <span class="d-none d-md-inline text-warning" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" class="text-danger"></fa-icon>
                    <span class="d-none d-md-inline text-danger" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
