<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (comment) {
      <div>
        <h2 data-cy="commentDetailsHeading"><span jhiTranslate="infocareApp.comment.detail.title">Comment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ comment.id }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.title">Title</span></dt>
          <dd>
            <span>{{ comment.title }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.type">Type</span></dt>
          <dd>
            <span>{{ comment.type }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.visibility">Visibility</span></dt>
          <dd>
            <span>{{ comment.visibility }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.description">Description</span></dt>
          <dd>
            <span>{{ comment.description }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.editedBy">Edited By</span></dt>
          <dd>
            <span>{{ comment.editedBy }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.editedAt">Edited At</span></dt>
          <dd>
            <span>{{ comment.editedAt | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.attachments">Attachments</span></dt>
          <dd>
            <span>{{ comment.attachments }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.responseToCommentId">Response To Comment Id</span></dt>
          <dd>
            <span>{{ comment.responseToCommentId }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.comment.ticket">Ticket</span></dt>
          <dd>
            @if (comment.ticket) {
              <div>
                <a [routerLink]="['/ticket', comment.ticket.id, 'view']">{{ comment.ticket.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/comment', comment.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
