<div>
  <h2 id="page-heading" data-cy="StatusHeading">
    <span jhiTranslate="infocareApp.status.home.title">Statuses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="infocareApp.status.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-status"
        [routerLink]="['/status/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="infocareApp.status.home.createLabel">Créer un nouveau Status</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (statuses?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="infocareApp.status.home.notFound">Aucun Status trouvé</span>
    </div>
  }

  @if (statuses && statuses.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.status.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statusCode">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.status.statusCode">Status Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.status.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="colorCode">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.status.colorCode">Color Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nextPossibleStatus">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.status.nextPossibleStatus">Next Possible Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isFinal">
              <div class="d-flex">
                <span jhiTranslate="infocareApp.status.isFinal">Is Final</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (status of statuses; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/status', status.id, 'view']">{{ status.id }}</a>
              </td>
              <td>{{ status.name }}</td>
              <td>{{ status.statusCode }}</td>
              <td>{{ status.description }}</td>
              <td>{{ status.colorCode }}</td>
              <td>{{ status.nextPossibleStatus }}</td>
              <td>{{ status.isFinal }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/status', status.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/status', status.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(status)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
