<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (material) {
      <div>
        <h2 data-cy="materialDetailsHeading"><span jhiTranslate="infocareApp.material.detail.title">Material</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ material.id }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.name">Name</span></dt>
          <dd>
            <span>{{ material.name }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.type">Type</span></dt>
          <dd>
            <span>{{ material.type }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.purchaseDate">Purchase Date</span></dt>
          <dd>
            <span>{{ material.purchaseDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.warrantyEndDate">Warranty End Date</span></dt>
          <dd>
            <span>{{ material.warrantyEndDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.manufacturer">Manufacturer</span></dt>
          <dd>
            <span>{{ material.manufacturer }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.model">Model</span></dt>
          <dd>
            <span>{{ material.model }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.statusMaterial">Status Material</span></dt>
          <dd>
            <span>{{ material.statusMaterial }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.lastMaintenanceDate">Last Maintenance Date</span></dt>
          <dd>
            <span>{{ material.lastMaintenanceDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.note">Note</span></dt>
          <dd>
            <span>{{ material.note }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.serialNumber">Serial Number</span></dt>
          <dd>
            <span>{{ material.serialNumber }}</span>
          </dd>
          <dt><span jhiTranslate="infocareApp.material.company">Company</span></dt>
          <dd>
            @if (material.company) {
              <div>
                <a [routerLink]="['/company', material.company.id, 'view']">{{ material.company.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/material', material.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
